.mui-table-view-cell:after{
	left: 0px;
}
.mui-table-view .mui-table-view-cell{
	padding: 11px 0px;
	font-size: 15px;
}
.mui-table-view .mui-table-view-cell.title{
	background-color: #efeff4;
	font-weight: normal !important; 
}
.mui-table-view .mui-table-view-cell .mui-row [class*='mui-col-']{
	padding: 0px 5px;
    word-break: break-all;
    white-space: normal;
}
